API_ID=15954332 # get this value from my.telegram.org
API_HASH=85adea6f1eaf068b707703b4846a9ced # get this value from my.telegram.org
BOT_TOKEN=6131378117:AAGoRe23GAhYsCmAngCVrEYNgfa43k7g1Ek # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://srnpxkb007:srnpxkb007@cluster0.i2tsrxy.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001737573985 # get this value from in your log group 
MUSIC_BOT_NAME=OldMusiciBot # your music bot name 
STRING_SESSION=AgAWgFq5vqyt_3Pn77YXrvA8CRDJ0hcx9bsk7UdKkpeL0AfDsEHeFxszVNoS2dTmACvDmxbTdi7PD9CSNmKanM5keHgE8e2bta3YFe-b8FlVrDhWBDfj7AaGv0qGE8fKGX-ZfbjiUUrK5xd1wcWbJ77s-CfBnBIR_xekizlEFzOT6mkQz97M76g24RMBMv4sboLB76GBrMrCVQG2De6ZLvu07-Jxbd_-WtqISf2ZfTQxRe_9UvG5HVioEYdV9bSZkUPdLa4SAKqLSLWbfyyB_Iy-XLrW3QUGYQd2wIHF95dv88Jec9FeCZvaoAghE9CTzASYf28lcIebcGvmc5-fgoshAAAAAUhXc-UA # get this value from @yukkistringbot
